/* Trong tệp Blog.css */
body {
    background-color:rgb(255, 230, 255);
    background-repeat: no-repeat;
}
/* Trong tệp Blog.css hoặc tệp CSS của bạn */
img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#sidebar { 
    position: absolute;
    right: 0;
    top: 0 ;
}